<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Consuming an OData Service from WebMatrix</title>
        <meta name="author" content="Clark Sell" />
    </head>
    <body>
        <div>
            
            <h2><a href="http://developerSmackdown.com" target=_blank>Developer Smackdown</a></h2>
            <p >The latest on <a href="http://developerSmackdown.com/archives/show" target=_blank>Developer Smackdown</a></p>
    
            @DeveloperSmackdown.GetLatestShow()

	    </div>
    </body>
</html>
