<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
        
        <script type="text/javascript" src="/scripts/someScript.js"></script>
        <script type="text/javascript" src="/scripts/badScript.js"></script>
        
    </head>
    <body>
        test
    </body>
</html>
