
@section scripts {
    
    <script type="text/javascript" src="/scripts/helloworld.js"></script>
    
    <script>
        Modernizr.load({
            test: Modernizr.canvas,
            nope: '/scripts/excanvas.js',
            complete: function () {
                $(document).ready( function () {
                    init();      
                });
            }
	    });
    
    </script>
    
    
    
    
    <script>
        $(document).ready( function() {
           
            jQuery.ajax({
                dataType: 'jsonp',
                url: 'http://feeds.delicious.com/v2/json/tags/csell5/ajax+javascript',
                jsonpCallback: 'callback',
                success: callback
            });

            function callback(result) {
                alert(result);
                
                
                
                
           }
            
        });
    </script>
    
    
}

<div id="center-container">
    <div id="infovis"></div>    
</div>

<div id="right-container">
    <h4>Change Tree Orientation</h4>
    <table>
        <tr>
            <td>
                <label for="r-left">left </label>
            </td>
            <td>
                <input type="radio" id="r-left" name="orientation" checked="checked" value="left" />
            </td>
        </tr>
        <tr>
            <td>
                <label for="r-top">top </label>
            </td>
            <td>
                <input type="radio" id="r-top" name="orientation" value="top" />
            </td>
        <tr>
            <td>
                <label for="r-bottom">bottom </label>
            </td>
            <td>
                <input type="radio" id="r-bottom" name="orientation" value="bottom" />
            </td>
        </tr>
        <tr>
            <td>
                <label for="r-right">right </label>
            </td> 
            <td> 
            <input type="radio" id="r-right" name="orientation" value="right" />
            </td>
        </tr>
    </table>
</div>

<br/>
<div id="log"></div>