@{
    Page.Title = "xhr with JSON";
}

@section scripts {
    <script>

        //function to handle the callback. 
        var callback = function(e) {
            
            //TODO: Handle the response
            
        }
        
        //TODO: make the xhr call
    
    </script>
}
<div id=results></div>