@{
    Page.Title = "JSON.parse";
}

@section scripts{
    
    <script src="/scripts/sampleJSON.js"></script>
    <script>
        $(document).ready( function () { 
        
            //TODO write some JSON
    
        });
    </script>
}

<div id=results></div>