@{
    Page.Title = "obj.toJSON";
}

@section scripts {
    <script src="/scripts/sampleJSON.js"></script>
    <script>
        
        //TODO: add toJSON
        
        var results = JSON.stringify(sampleJsonObj);
        
    </script>
}

<div id=results></div>